# Ignore secrets
documentation/secrets/

# build output
.next/
out/
dist/
build/
.cache/
.turbo/
.output/
node_modules/


# misc
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.bfg-report/allfileshas.txt
